<html>

     <head>
        <meta charset="UTF-8">
        <title>Main page</title>
    </head>

    <body>

        <form method="POST">

            {% csrf_token %}

            <input type="submit" value="Add numbers"><br>

            <label> The first number: </label><br>
            <input type="text" name="first_number"><br>

            <label> The second number: </label><br>
            <input type="text" name="second_number"><br>

            <label>{{ answer }}</label><br>

        </form>

    </body>

</html>